<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>GIDClientID</key>
    <string>1001254260972-91vmekeifopdo8h7oaroa5ho10npgtao.apps.googleusercontent.com</string>
    <key>GIDServerClientID</key>
    <string>1001254260972-vnqo0tgg4hgtm9kjqvmkm3j27drasphm.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.1001254260972-91vmekeifopdo8h7oaroa5ho10npgtao</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
